html {
  height: 100%;
  position: relative;
}

.modal {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(0% ,-50%);
}

.header-icon {
  filter:invert(100%);
  height: 15vh;
  margin-right: 15vw;
}

.ui.button {
  background-color: #859DA7;
  color: white;
}

.ui.button:hover{
  background-color: white;
  color: #859DA7;
}

.ui.toggle.checkbox .box:before, .ui.toggle.checkbox label:before{
  background-color: red !important;
}


.ui.toggle.checkbox .box:before, .ui.toggle.checkbox label:before{
  background-color: red;
}

body {
  background-image: url('./mountains.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  height: 100%;
}

.App {
  min-height: 100%;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 14vh;
}

footer {
  background-color: white;
  height: 6vh;
  font-size: 2vh;
  margin-top: 2vh;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 0vw 5vw;
  position: absolute;
  bottom: 0;
  width: 100%
}

.copyright {
  margin-bottom: 0;
}
